.slick-dots
    position: relative
    top: 30px
    display: block
    width: 100%
    padding: 10px
    margin-bottom: 40px
    list-style none
    text-align center
    
    li
        display: inline-block
     
       .slick-active
            button
                background: $orange

                &:before
                    font-size 15px
                    color blue
        button
            appearence: none
            font-size: 0
            background: $gray
            border-radius: 40px
            padding: 5px
            margin: 0 5px
            border: 1px solid $white
            cursor: pointer
            transition: .2 ease


.spacing
    position: relative
    background: $orange
    height: 2px
    width: 103px                
    display: inline-block

 
 .fit-image
     width: 100%
     object-fit: cover
     height: 396px
     


@keyframes zoominout
    0%
        transform: scale(1,1)
    
    50% 
        overflow: hidden
        transform: scale(1.2,1.2)
        
    
    100% 
        transform: scale(1,1)




#breadcrumb
    height: 500px
    padding: 190px 0 0 0
    color: $white
    background: rgba($black, .6)
    font-family: $pop
    
    @media $mobile-max
        height: 450px
    

    .img-breadcrumb
        position: absolute
        object-fit: cover
        width: 100%
        height: 500px
        top: 0
        left: 0
        z-index: -1
        overflow: hidden
        animation: zoominout 30s infinite
        
    h1
        font-weight: 600

.hide
    opacity: 0