footer
	background: $black
	color: $white
	font-family: $pop
	
	i
		color: $orange
		margin: 0 5px
		font-size: 20px

	.footer-bottom
		
		i
			color: $white
			font-size: 20px
			margin:0 10px
			transition: .2s ease-in-out
						
			
			&:hover
				color: $orange
				cursor: pointer