.btndoubt
	appearance: none
	border-radius: 40px
	background: $orange
	color: $white
	font-family: $pop
	text-transform: uppercase
	padding: 10px 60px	
	margin-top: 12%
	cursor: pointer
	border: 1px solid $lighterblue
	transition: .2s ease

	@media $mobile-max
		margin-top: 0

	&:hover
		background: white
		color: $bluemid
		border: 1px solid $bluemid	
		transition: .2s ease
		
.btn-default
	appearance: none
	border-radius: 40px
	background: $orange
	color: $white
	font-family: $pop
	text-transform: uppercase
	padding: 10px 60px	
	cursor: pointer
	border: 1px solid transparent
	transition: .2s ease

	@media $mobile-max
		margin-top: 0

	a
		color: $white

	&:hover
		background: white
		color: $bluemid
		border: 1px solid $bluemid	
		transition: .2s ease
		
		a
			color: $bluemid
			text-decoration: none
		

.btn-postlink
	position: relative
	bottom: 39px
	border-radius: 20px
	color: $white
	background: $orange
	padding: 10px 30px
	appearance: none
	transition: .2s ease
	border: 1px solid $orange
	cursor: pointer
	float: right
	
	@media $small-desktop-minmax
		padding: 10px 14px
	
	@media $mobile-min
		padding: 10px 10px
		bottom: 55px

	&:hover
		transition: .2s ease
		background: $white
		color: $orange
		border: 1px solid $orange

	
.btn-submit
	float: right
	appearance: none
	background: $orange
	border-radius: 40px
	color: $white
	padding: 5px 50px
	font-size: 20px
	border: 1px solid $orange
	transition: .2s ease
	cursor: pointer

	&:hover
		color: $orange
		border: 1px solid $orange
		background: $black
		transition: .2s ease
		

.btn-menu
	appearance: none
	background: transparent
	border: none
	i
		color: $white



.bg-arrow
	// background: linear-gradient(90deg, rgba($lighterblue, .8) 10%, rgba($lightblue ,.8) 50%, rgba($bluemid, .8) 75%, rgba($purple, .8) 100%)
	// border-radius: 60px
	width: 50px
	height: 50px
	// color: $white
	color: $black
	cursor: pointer
	transition: .2s ease
	// border: 1px solid $white

	&:hover
		// background: $white
		// border: 1px solid $bluemid
		
		i
			color: $lighterblue
		
	@media $mobile-max
		display: none

	i
		position: relative
		// left: 16px
		margin: 0px 8px
		top: 14px
		font-size: 55px
		color: $black
		transition: .2s ease-in-out