body
	background: $white
	overflow-x: hidden
	color: $black

.col
	@media $mobile-max
		min-width: 100%

.container
	@media $xl-desktop-min
		max-width: 1600px
	
	@media $small-desktop-minmax
		max-width: 1260px

.container-fluid
	width: auto
	margin-left: 0
	margin-right: 0


@media $min-lg
	.container-fluid
		margin-left: 255px
		margin-right: 255px
		width: auto
		


@media $mobile-max
	.text-xs-center
		text-align: center