html
	scroll-behavior: smooth
	scroll-padding: 140px

.list-item
	display: flex
	align-items: center
	justify-content: center
	
.fixed
	position: fixed
	
	@media $mobile-max
		position: initial
		

.sidebar-outer
	margin-top: 150px
	position: relative
	

.breadcrumbs
	a
		color: $white