
.menu-init
	background: url('../dist/images/logo-tipo.png') no-repeat center center

	@media $mobile-max
		display: none

	@media $tablet-minmax
		display: none

.menu-fixed
	background: url('../dist/images/tipo-chart.png') no-repeat 3%

	@media $mobile-max
		display: none
		
	@media $tablet-minmax
		display: none

.desktop-menu
	position: fixed
	width: 100%
	transition: 0.5s
	z-index: 3
	border-bottom: 1px solid transparent

	@media $tablet-minmax
		display: none
		
	@media $small-desktop-max
		display: block
				

	@media $mobile-max
		display: none
		
	.outline-menu
		margin-bottom: 30px
		
		.logo-menu
			
			// background: blue
			padding: 24px 196px
			position: relative
			top: 31px
			transition: .2s ease-in-out			

		.menu-top
			position: relative
			top: 2px
			
			ul
				list-style-type: none
				
				li
					display: inline
				
					
					a
						margin: 20px
						text-transform: uppercase
						color: $white
						font-family: $gotham
						font-size: 16px
						transition: 0.2s ease
						position: relative
						display: inline-block
						
						@media $small-desktop-minmax
							margin: 19px						
						
						 
						&:after
							content:''
							position: absolute
							left: 0
							top: 0%
							width: 0
							height: 2px
							background: $white
							transition: width .3s ease-in-out
					
						&:last-of-type
							margin-right: 0
							
						&:hover
							text-decoration: none
						&:hover:after
							transition: 0.2s ease
							width: 100%
							
.sticky
	top: 0 
	width: 100%
	height: 100px
	background: linear-gradient(-90deg, rgba($lighterblue, .6) 10%, rgba($lightblue ,.6) 50%, rgba($bluemid, .6) 75%, rgba($purple, .6) 100%)
	z-index: 3
	border-bottom: 1px solid $white


.sticky + .structure
	padding-top: 100px


.mobile-menu
	position: fixed
	background: $black
	width: 100%
	z-index: 3
	display: none
	
	@media $mobile-max
		display: block
		
	img
		height: 40px
		
	.menu-opened
		position: absolute
		color: $white
		top: 0
		width: 100%
		height: 1500px
		background: linear-gradient(140deg, rgba(43,55,144,1) 0%, rgba(35,73,158,1) 31%, rgba(4,150,220,1) 53%, rgba(0,212,255,1) 98%)
		z-index: 2
		display: none
		
		.logo-menu
			position: absolute
			top: 150px
			left: 0
			width: 100%	
			
		
		.social-mobile
			position: absolute
			top: 34%
			width: 100%
			

			@media $tablet-minmax
				top: 46%
			
			i
				color: $white
				

	.close-menu
		display: none
		position: relative
		z-index: 3
		
	.options-mobile
		position: absolute
		top: 160px
		left: 0
		text-align: center
		width: 100%
		display: initial
		padding-left: 0
		list-style-type: none
		
		li
			a
				font-family: $pop
				font-size: 18px
				left: 0
				display: block
				width: 100%
				margin: 10px 0
				cursor: pointer
				color: $white
				text-decoration: none
				

				@media $mobile-max
					font-size: 19px
			
				@media $tablet-minmax
					margin: 20px 0
					font-size: 24px
		
			



	.active
		.open
			display: none
			transition: .2s ease-in-out
		
		.close-menu
			display: block
			transition: .2s ease-in-out
			
		
		
			
			
		