// webfont('Helvetica Neue', 'HelveticaNeueLTCom-Md', 500)

// ## families ## 
// ##############
webfont('Ailerons', 'Ailerons-Typeface', 600)
webfont('Skywave', 'Skywave-Light', 400 )
webfont('Skywave', 'Skywave-Normal', 500)
webfont('Skywave', 'Skywave-Bold', 700 )
webfont('Poppins', 'Poppins-Regular', 500)
webfont('Poppins', 'poppins-medium', 600)
webfont('GothamBook', 'gotham-book', 500)

// ## titles ## 
// ############ 
		

// ## t-colors ##
// ##############

.t-white
	color #FFF


// ## text ##
// ##########

.t-xxs
	font-size 10px

.t-xs 
	font-size 12px 

.t-s 
	font-size 14px 

.t-r 
	font-size 16px 
	
.t-g
	font-size 18px 
	
.t-xg
	font-size 20px 
	
.t-xxg 
	font-size 22px 

.t-xxxg
	font-size 24px
	
.t-xxxxg 
	font-size 28px

.t-exg
	font-size 36px

.t-exxg 
	font-size 40px
	
// ## lineheight ##
// ################

.lh-xs
	line-height 14px

.lh-s 
	line-height 16px

.lh-r 
	line-height 18px

.lh-g 
	line-height 20px

.lh-xg 
	line-height 22px 

.lh-xxg 
	line-height 24px

.hiline 
	line-height 26px 

.hiline-extra
	line-height 44px
	
// ## margins ##
// #############

.margin-xxxs
	margin-bottom 10px

.margin-xxs 
	margin-bottom 15px
	
.margin-xs 
	margin-bottom 25px 
	
.margin-s 
	margin-bottom 30px

.margin 
	margin-bottom 40px
	
.margin-g 
	margin-bottom 55px
	
.margin-xg 
	margin-bottom 65px
	
.margin-xxg
	margin-bottom 75px

.margin-xxxg 
	margin-bottom 85px
	
// ## rules ## 
// ###########

.t-centered
	text-align center

.limited-width
	max-width 600px
	margin-left auto 
	margin-right auto

.upper
	text-transform uppercase

// ## weights ## 
// #############

.med 
	font-weight 500

.sb 
	font-weight 600

.bold 
	font-weight 700
	
// ## etc ## 
// #########

a.und 
	text-decoration underline !important

.und 
	@extend a.und

.ita
	font-style italic