#content-case
	font-family: $pop
	background: $white
	position: relative
	z-index: 2
	
	.list
		ul
			li
				list-style-type: none
				
				i
					font-size: 14px
					margin-right: 10px
				a
					color: $black