#page-inbound
    height: 5000px
    background: linear-gradient(-180deg, rgba($purpleinbound, 1) 0%,  rgba($blueinbound, 1) 100%)
    color: $white
    font-family: $gotham
    font-weight: 500

    .content
        margin-top: 150px

        h2
            font-size: 28px

        p
            font-weight: 500
            font-size: 20px

        .text-aside
            margin-top: 130px
            @media $mobile-max
                margin-top: 0

        .atracao
            height: 925px

           
            


    
