
i
	color: $orange
	font-size: 40px



.bg-content
	background: url('../dist/images/homepage/main-section.jpg')no-repeat center 56%
	height: 940px
	width: 100%
	position: absolute
	top: 0
	z-index: -1
	background-size: cover
	animation: zoominout 30s infinite
		
	@media $mobile-max
		background: url('../dist/images/homepage/main-section-mobile.jpg')no-repeat center 56%
		zoom: 0.60
	
	@media $tablet-minmax
		background: url('../dist/images/homepage/main-section-mobile.jpg') no-repeat center center 
		height: 1020px


	@media $mobile-min
		zoom: .4

	&:after
		content: ''
		height: 100%
		width: 100%
		position: absolute
		
	
#main-content
	//filter: blur(5px)
	height: 940px
	width: 100%
	top: 0
	z-index: -1
	
	@media $mobile-max
		height: 614px

	@media $mobile-min
		height: 409px
		
	@media $tablet-minmax
		height: 1020px
	
	.img-main
		position: relative
		bottom: 200px
		z-index: -1

	.text-triangle
		font-family: $pop
		position: absolute
		top: 290px
		width: 100%
		font-size: 91px
		color: $white
		z-index: 2		
		
		@media $mobile-max
			top: 268px
			font-size: 30px
			
		@media $mobile-min
			top: 181px
			font-size: 23px
			
		@media $tablet-minmax
			top: 440px
			font-size: 57px
	
	.triangle
		perspective: 100px
		transition: all .1s ease
				
	.content-triangle
		transition: all .1s ease
		padding-top: 135px

		
#content
	font-family: $pop
	font-weight: 500
	background: $white
	position: relative
	z-index: 2
	
	
	h2
		font-size: 20px
		text-transform: uppercase
	
	.content-text
		font-size: 20px

	.sub-title
		span
			color: $gray
			font-size: 18px
			opacity: .4
		
	.item-topic
		h3
			font-size: 18px
		
		p
			color: $gray
			line-height: 25px

		a
			color: $bluemid
			text-decoration: underline

#inbound
	height: 668px
	
	@media $tablet-minmax
		height: 719px
		
	@media $mobile-min
		height: 600px
	
	&:before
		content: ""
		background: url('../dist/images/homepage/business-pb.jpg') no-repeat center
		position: absolute
		width: 100%
		height: 668px
		background-attachment: fixed
		background-size: cover
		
		@media $mobile-min
			height: 600px
			
		@media $tablet-minmax
			min-height: 719px
	
		
		// filter: grayscale(100%)
	
	
	// .bg-inbound
	

	// 	@media $tablet-minmax
	// 		min-height: 820px

	// 	@media $small-desktop-minmax
	// 		min-height: 680px
		
	// 	@media $mobile-max
	// 		background: linear-gradient(90deg, rgba($lighterblue, .8) 10%, rgba($lightblue ,.8) 50%, rgba($bluemid, .8) 75%, rgba($purple, .8) 100%)
		

	.spacing-box
		padding: 2rem 15rem
		padding-top: 65px
		
		@media $tablet-minmax
			padding: 0
			padding-top: 40px

		@media $small-desktop-minmax
			padding: 0
			padding-top: 40px
		

		@media $mobile-max
			padding: 0
			padding-top: 0px
		
	.box-inbound
		background: linear-gradient(90deg, rgba($lighterblue, .8) 10%, rgba($lightblue ,.8) 50%, rgba($bluemid, .8) 75%, rgba($purple, .8) 100%)
		border-radius: 0px
		transition: 0.2 ease

	.content-box
		padding: 60px
		padding-top: 45px
		height: 100% 
		color: $white
		
		@media $mobile-max
			padding: 0
		
		i
			font-size: 60px
			color: $orange
			
		h4
			letter-spacing: 1px
			font-size: 22px
			margin-top: 20px
			margin-bottom: 20px

		.desc-box
			p
				line-height: 40px
				font-size: 22px
				
				@media $mobile-max
					line-height: 25px
					
#process
	font-family: $pop
	
	.bg-arrow
		position: relative
		top: 240px
			
	.arrows
		@media $tablet-minmax
			display: none

	.arrow-left
		right: 7%
		
	.arrow-right
		left: 7%
		
	.item-process
		
		i
			font-size: 60px
			margin-bottom: 30px
			color: $orange
			
		h4
			font-weight: bold
			color: $black
			height: 60px
			
		p
			font-size: 18px
			color: $gray
			line-height: 24px
			text-overflow: ellipsis
	
#doubt
	background: url('../dist/images/homepage/business-pb.jpg') no-repeat center
	min-height: 255px
	background-attachment: fixed
	background-size: cover
	
	&:before
		content: ''
		background: linear-gradient(90deg, rgba($lighterblue, .8) 10%, rgba($lightblue ,.8) 50%, rgba($bluemid, .8) 75%, rgba($purple, .8) 100%)
		position: absolute
		width: 100%
		height: 255px
		opacity: .8
		
		@media $mobile-max
			height: 728px 
		
		@media $small-desktop-minmax
			height: 255px

	.box-doubt
		font-family: $pop
		padding: 5px
		color: $white

		h4
			font-size: 24px
			text-transform: uppercase
			margin-bottom: 20px
		p
			line-height: 30px
	
	.content-counter
		margin-top: 85px
		
		.number
			font-size: 50px
			
#depositions
	background: $white
	
	.author
		line-height: 10px


#clients
	background: rgba($gray, .2)
	height: 430px
	font-family: $pop
	
	@media $xxl-desktop-min
		margin-bottom: 64px
		height: 660px
		
	@media $desc-ultrawide
		height: 550px

#cases
	font-family: $pop
	

	@media $tablet-minmax	
		height: 791px
		
	@media $mobile-max
		height: 760px

	.arrows
		position: absolute
		width: 100%
		left: 0
		margin-top: 130px
		z-index: 2
		padding: 0px 20px
		
		@media $small-desktop-minmax
			padding: 0

	.cases
		height: 400px
		
	.item-case
		img
			width: 100%			
		
	.cover-case
		position: absolute
		top: 0
		background: linear-gradient(90deg, rgba($lighterblue, .8) 10%, rgba($lightblue ,.8) 50%, rgba($bluemid, .8) 75%, rgba($purple, .8) 100%)
		width: 100%
		height: 100%
		opacity: 0
		transition: .2s ease
		z-index: 2
		color: $white
		
		.content-case
			position: relative
			top: 80px
			display: flex
			align-items: center
			justify-content: center
			
			button
				margin-top: 40px
				

	.case-item
		img
			width: 100%
			
			transition: .2s ease-in-out
			
	.btn-case
		position: relative
		top: 180px
		

		@media $tablet-minmax
			top: 0
			
		@media $mobile-max
			top: 0	


#team
	font-family: $pop

	.cover-team
		background: linear-gradient(90deg, rgba($lighterblue, .8) 10%, rgba($lightblue ,.8) 50%, rgba($bluemid, .8) 75%, rgba($purple, .8) 100%)
		position: absolute
		width: 93%
		height: 98%
		opacity: 0
		transition: .2s ease
		z-index: 2
		cursor: pointer
		
		@media $mobile-max
			width: 94%
			height: 99%
			
		@media $small-desktop-minmax
			width: 95%
	
		&:hover
			transition: .2s ease
			opacity: 1
			color: $white
			font-family: $pop
			font-size: 18px
			letter-spacing: 2px
		
		.name
			text-align: center	
			position: relative
			top: 150px
			
			@media $small-desktop-minmax
				top: 96px

		.function
			text-align: right
			position: relative
			top: 220px
			right: 5px
			
			@media $small-desktop-minmax
				top: 176px

				
	.items-team
		display: contents
		
	.item
		img
			width: 100%


#depositions
	font-family: $pop
	
	.main-title
		text-align: center
			

#blog
	
	font-family: $pop
	// color: $white
	background: rgba($gray, .2)

	.main-title
		text-align: center
	
	.item-blog
		background: $white
		border: 1px solid rgba($gray, .8)
		padding: 50px
		transition: .2s ease-in-out
		
		@media $mobile-min
			padding: 10px

		&:hover
			color: $white
			border: 1px solid $white
			background: linear-gradient(90deg, rgba($lighterblue, .8) 10%, rgba($lightblue ,.8) 50%, rgba($bluemid, .8) 75%, rgba($purple, .8) 100%)
			
			i
				transition: .2s ease-in-out
				color: $white			

		.title-post
			margin-bottom: 15px
			
		.desc-post
			margin-bottom: 80px
			
			@media $mobile-min
				margin-bottom: 20px

		.post-author
			font-size: 18px
			margin: 0 5px
			
			@media $small-desktop-minmax
				font-size: 16px

			@media $mobile-min
				margin: 0 5px 20px

			i
				font-size: 18px


	.blog-link
		font-family: $pop
		color: $black
		font-size: 22px

		&:hover
			text-decoration: none

		i
			color: $orange
			font-size: 40px
			margin: 0 15px
			transform: scaleX(-1)