#content-single
	.about-title
		font-size: 38px

#items-full
	.item-count
		height: 500px
		padding: 60px 50px
		font-family: $pop
		color: $white
		
		h3
			font-size: 40px
			margin-bottom: 20px
		
		h4
			font-size: 32px
			margin-bottom: 20px
						
		&:nth-child(1)
			background: rgba($lightblue,.8)
				
		&:nth-child(2)
			background: rgba($bluemid, .8)
			
		&:nth-child(3)
			background: rgba($lighterblue, .8)
			
