
#content-single
	font-family: $pop
	margin-top: 0%
	background: $white
	position: relative
	z-index: 1
	
	h2
		font-weight: 600
		font-size: 50px
		margin-bottom: 25px
		
		@media $mobile-max
			font-size: 22px
		
	
	.content-item
		height: 600px
		
		@media $mobile-max
			height: auto
		
		.content-text
			margin-top: 25%
			
			@media $mobile-max
				margin-top: 5%
				
	
	.image-item-1,
	.image-item-2,
	.image-item-3
		perspective: 300px
		transition: all .1s ease
	
	.image-item-4,
	.image-item-5
		perspective: 300px
		transition: all .1s ease
			
	.content-image-1,
	.content-image-2,
	.content-image-3
		transition: all .1s ease
		
		img
			height: 600px
			
	.content-image-4,
	.content-image-5
		transition: all .1s ease
			
		img
			height: 600px

